
{% for monitor in monitors -%}

resource "datadog_monitor" "{{ monitor.name|replace('[','')|replace(']','')|replace(' ','_')|lower }}" {
  name               = "{{ monitor.name }}"
  type               = "{{ monitor.type }}"
  message            = "{{ monitor.message }}"
  escalation_message = "{{ monitor.options.escalation_message }}"

  query = "{{ monitor.query }}"

  thresholds {
    {%- for key in monitor.options.thresholds %}
    {{ key }} = {{ monitor.options.thresholds[key] }}
    {%- endfor %}
  }

  notify_no_data    = {{ monitor.options.notify_no_data }}
  renotify_interval = {{ monitor.options.renotify_interval }}

  notify_audit = {{ monitor.options.notify_audit }}
  timeout_h    = {{ monitor.options.timeout_h }}
  include_tags = {{ monitor.options.include_tags }}

  silenced {
    "*" = 0
  }

  {%- if monitor.tags %}
  tags = {{ monitor.tags }}
  {%- endif %}
}

{%- endfor %}
